.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #5cb85c;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #5cb85c; /* Green color */
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #d6f5d6; /* Light green background */
  padding: 20px;
  border-radius: 10px;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  color: #5cb85c; /* Green color */
}

input {
  width: 400px;
  height: 25px;
  border: 0px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

button {
  width: 400px;
  height: 23px;
  border: 0px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #5cb85c; /* Green color */
  color: #ffffff;
  cursor: pointer;
}

.button {
  width: 100%;
  background-color: #5cb85c; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #4ba04b; /* Darker shade of green */
}
.table-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header1 {
  margin-top: 20px;
  font-size: 24px;
}

.record-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.record-table th,
.record-table td {
  padding: 10px;
  border: 1px solid #f01313;
}

.record-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.record-table td {
  text-align: center;
}

.record-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.record-table tbody tr:hover {
  background-color: #f1f1f1;
}

